* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  background: rgb(106,189,205);
  background: linear-gradient(90deg, rgba(106,189,205,1) 0%, rgba(179,224,232,1) 44%, rgba(179,224,232,1) 100%);
}
#conteudo{
  position: relative;
  border-radius: 15px;
  color: black;
  font-size: 20px;
  font-style: bold;
}
#logopos{
  background-color: #ffffff;
  width: 150px;
  height: 150px;
  transition: transform 0.3s ease-out 100ms
 
}
#faculdade{
  border-radius: 15px;
  color: black;
  font-size: 20px;
  font-style: bold;
}
a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: rgb(153, 210, 228);
  height: 8vh;
}
#footer{
  background: #99d2e4;
}
main {
  background: url("bg.jpg") no-repeat center center;
  background-size: cover;
  height: 92vh;
}

.nav-list {
  list-style: none;
  display: flex;
  margin-top: 1%;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: #23232e;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
   
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}
#links{
  color: white;
  text-decoration: none;
}
.banner{ 
	height: 100vh;
	width: 100%;
	background:url('../imgs/background.jpg');
	background-position: top;
	background-size:cover;
	/*background-attachment: fixed;*/
	background-repeat: no-repeat;
}

.banner .info{
	margin-top:15%;
	transform: translateY(-15%);
  
}
.banner .info h1{
	font-size: 2.5em;
	font-weight: 700;
	color: #fff;
	letter-spacing: 2px;
}
.banner .info p{
	font-size: 2em;
	font-weight: 500;
	color: #ffffff;
	letter-spacing: 2px;
  
}
#freud_img .freud_img{
 
  object-fit: cover;
}

.container-slider{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide-container{
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
}

.slide-content{
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}

.card{
  border-radius: 25px;
  background-color: #FFF;
  
}
#card-slide{
  border-radius: 35px;
  
}
.image-content,
.card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 14px;
}

.image-content{
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}

.overlay{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #B9D9EB;
  border-radius: 10%;
}

.overlay::before,
.overlay::after{
  content: '';
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: #ffffff;
}

.overlay::after{
  border-radius: 0 25px 0 0;
  background-color: #FFF;
}

.card-image{
  position: relative;
  height: 250px;
  width: 250px;
  border-radius: 100%;
  background: #FFF;
  padding: 3px;
}

.card-image .card-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #ffffff;
}

.name{
  font-size: 25px;
  font-weight: 500;
  color: #333;
  text-align: center;
}

.description{
  font-size: 20px;
  color: #505050;
  text-align: center;
}

.swiper-navBtn{
  color: #505050;
  transition: color 0.3s ease;
}

.button{
border: none;
font-size: 16px;
color: #FFF;
padding: 8px 16px;
background-color: #ffffff;
border-radius: 6px;
margin: 14px;
cursor: pointer;
transition: all 0.3s ease;
}
.button:hover{
background: #ffffff;
}

.swiper-navBtn:hover{
  color: #fdfdfd;
}

.swiper-navBtn::before,
.swiper-navBtn::after{
  font-size: 35px;
}

.swiper-button-next{
  right: 0;
}

.swiper-button-prev{
  left: 0;
}

.swiper-pagination-bullet{
  background-color: #505050;
  opacity: 2;
}

.swiper-pagination-bullet-active{
  background-color: #181818;
}
.mercado{
  position:relative;
  height: 100%;
  width: 100%;
  padding: 30px 200px;
  margin: 0;
  background-color: linear-gradient(90deg, rgba(106,189,205,1) 0%, rgba(179,224,232,1) 44%, rgba(224,234,236,1) 100%); 
  align-items: center;
  justify-content: center;
  text-align: center;
}
#bannertxt{
  position: relative;
  margin-bottom: 200vh;
  margin-top: 15%;
  word-wrap: break-word;
  font-size: 10px;
  height: 100vh;
}
@media screen and (max-width: 768px) {
  .slide-content{
    margin: 0 10px;
  }
  .swiper-navBtn{
    display: none;
  }
}

